<% if params[:design].present? %>
<div class="style-soft">
<% design = params[:design].to_s.downcase %>
<%= render "home/heroes/hero_#{design}" rescue render "home/heroes/hero_e" %>
</div>
<% else %>
<div class="style-soft hero-combo">
  <div class="hero-desktop-tablet">
    <%= render "home/heroes/hero_e" %>
  </div>
  <div class="hero-mobile">
    <%= render "home/heroes/hero_g" %>
  </div>
</div>
<% end %>
